---
import { formatPrice } from '../utils/products';

import '../styles/components/price.css';

interface Props {
  amount: number;
  large?: boolean;
}

const { amount, large = false } = Astro.props as Props;
---

<p class:list={['product-price', { 'product-price--large': large }]}>
  {formatPrice(amount)}
</p>
